* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #00cffe;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 20px;
  padding: 40px;
}

.list-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px 20px 20px;
  /* padding: 20px; */
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  margin-right: 20px;
}
.card img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
.desc {
  max-width: 180px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00cffe;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button{
    padding:0 25px;
    margin: 10px;
    background-color: #00cffe;
    font-size: 20px;
}
